*.dcu
*.~*~
*.local
*.identcache
__history
*.drc
*.mpb
*.~mm
*.groupproj.local
*.tvsconfig
*.local
*.identcache
*.rsm
*.~pas
*.~dfm
*.~ddp
*.o
*.ppu
*.dbg
*.or
*.lps
*.compiled
Win32/
Win64/
*.a
*.~inc
backup/
*.res
